* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html {
    font: normal 16px sans-serif;
    color: #555;
    scroll-behavior: smooth !important;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-family: poppins;
    padding: 50px;
}

.filter {
    width: 350px;
    height: 300px;
    background: black;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    transition: all .25s ease;
    backface-visibility: hidden;
    float: left;
    margin-left: 225px;
    margin-right: 150px;
    margin-bottom: 50px;

}

.filter img{
    cursor: default;
    width: 500px;
    height: 100%;
    z-index: 0;
    transition: all .25s ease;
    transform: scale(1.55);
    -webkit-filter: blur(15px);
}

.filter:hover img{
    transition: all .25s ease;
    transform: scale(1.10);
    -webkit-filter: blur(0px) opacity(80%);
    border-color: black;
}

.filter h2{
    z-index: 30;
    position: absolute;
    bottom: 115px;
    color: ghostwhite;
    font-family: poppins;
    justify-content: flex-end;
    transform: scale(2.0);
    text-align: center;
}

.filter:hover h2 {

    transition: all .25s ease;
    transform: scale(1.0);
    bottom: 10px;
}





