/*header styles*/
img{
    float: left;
    height: 50px;
    vertical-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0093AB;
}
li{
    float: right;
}
li a {
    display: block;
    color: whitesmoke;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #006E80;
}
.active{
    background-color: #FD5D5D;
}
.firstSection{
    height: 30vw;
    background-image: url('../images/Atencion_medica.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.secondSection{
    float: right;
    text-align: center;
    margin-right: 10vw;
    margin-top: 2vw;
    width: 30vw;
    border-radius: 40px;
    font-size: 1.5vw;
    background-color: rgba(0, 147, 171, 0.80);
}
h2{
    color: whitesmoke;
}
button{
    background-color: #FD5D5D;
    border: outset #FD5D5D;
    border-radius: 20px;
    font-size: 1.5vw;
    padding: 1vw;
    margin-bottom: 1vw;
    color: whitesmoke;
}
button:hover{
    background-color: rgba(228, 68, 68, 1);
}


section h1.title{
    text-align: center;
    /*font-family: poppins;*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html {
    /*font: normal 16px sans-serif;*/
    color: #555;
    scroll-behavior: smooth !important;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-family: poppins;
    padding: 50px;
}

.patientServices{
    background-color: #0093AB;
}
.doctorServices{
    background-color: #0093AB;
}

.filter {
    width: 350px;
    height: 300px;
    background: black;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    transition: all .25s ease;
    backface-visibility: hidden;
    float: left;
    margin-left: 225px;
    margin-right: 150px;
    margin-bottom: 50px;

}

.filter img{
    cursor: default;
    width: 500px;
    height: 100%;
    z-index: 0;
    transition: all .25s ease;
    transform: scale(1.55);
    -webkit-filter: blur(15px);
}

.filter:hover img{
    transition: all .25s ease;
    transform: scale(1.10);
    -webkit-filter: blur(0px) opacity(80%);
    border-color: black;
}

.filter h2{
    z-index: 30;
    position: absolute;
    bottom: 115px;
    color: ghostwhite;
    font-family: poppins;
    justify-content: flex-end;
    transform: scale(2.0);
    text-align: center;
}

.filter:hover h2 {

    transition: all .25s ease;
    transform: scale(1.0);
    bottom: 10px;
}

.btn{
    text-align: center;
    padding: 50px;
    align-items: center;
    float-wrap: wrap;
}


.btn button {
    position: relative;
    background: #FD5D5D;
    color: white;
    display: flex;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    min-width: 200px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    animation: pulse 1.5s infinite;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}

.btn button .text {
    color: ghostwhite;
    font-family: poppins;
}

@keyframes pulse {
    0% {
        transform: scale(0.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.1);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
    100% {
        transform: scale(0.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
}

@media screen and (max-width: 1525px) {
    .filter {
        transition: all .0s ease;
        width: 300px;
        height: 200px;
        margin-left: 40%;
        margin-right: 40%;
    }
    .filter h2 {
        transition: all .0s ease;
        transform: scale(1.2);
        bottom: 70px;
    }
}

#Information {
    /*margin-top: 450px;*/
    border-top: white solid;
    height: 10vw;
    background-color: #0093AB;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
/*
@media  screen and (max-width: 1370px){
    #Information{
        margin-top: 820px;
    }
}
*/
/*
@media  screen and (max-width: 930px){
    #Information{
        margin-top: 1240px;
    }
}
*/

.icon{
    width: 30vw;
    text-align: center;
    /*float: left;*/
    /*margin: 0px 3px;*/
    color: white;
    font-size: 1.5vw;
}

/*
.parte1{
    width: 30vw;
    text-align: center;
    float: left;
    margin: 0px 3px;
    color: white;
    font-size: 1vw;
}
.parte2{
    width: 30vw;
    text-align: center;
    float: left;
    margin: 0px 3px;
    color: white;
    font-size: 1vw;
}
.parte3{
    width: 30vw;
    text-align: center;
    float: left;
    margin: 0px 3px;
    color: white;
    font-size: 1vw;
}
*/

@media screen and (max-width: 1400px) {
    .filter {
        transition: all .0s ease;
        width: 300px;
        height: 200px;
        margin-left: 35%;
        margin-right: 35%;
    }
    .filter h2 {
        transition: all .0s ease;
        transform: scale(1.2);
        bottom: 70px;
    }
}

@media screen and (max-width: 700px) {
    .filter {
        transition: all .0s ease;
        width: 300px;
        height: 200px;
        margin-left: 20%;
        margin-right: 20%;
    }
    .filter h2 {
        transition: all .0s ease;
        transform: scale(1.2);
        bottom: 70px;
    }
}



.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    background-color: #0093AB;
    /*margin: auto;*/
    /*display: inline-block;*/
}

.card{
    width: 300px;
    height: 400px;
    margin: 2vw;
    /*background: #ffffff;*/
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    /*display: flex;
    align-items: center;
    justify-content: center;*/

    cursor: pointer;
    transition: all .25s ease;
    backface-visibility: hidden;
    /*float: left;*/
    /*margin-left: 150px;*/
    /*margin: auto;*/
}
.card:hover{
    transform: scale(.9);
}
.card:hover:after{
   height: 280px;
}
.card:hover .text p{
    margin-bottom: 8px;
    opacity: 1;
}
.card:hover img{
    transform: scale(1.25);
}
.card:after{
    width: 100%;
    height: 150px;
    content: '';
    left: 0px;
    bottom: 0px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 20;
    transition: all .25s ease;
}

.card img{
    height: 100%;
    z-index: 10;
    transition: all .25s ease;
}
.card .text{
    z-index: 30;
    position: absolute;
    bottom: 0px;
    color: #ffffff;
    padding: 20px;
    padding-bottom: 40px;
}
.card .text p {
    font-size: 1rem;
    opacity: 0;
    margin-bottom: -170px;
    transition: all .25s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.card .text p button {
    padding: 7px 17px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 10px;
    margin-left: auto;
    cursor: pointer;
    transition: all .25s ease;
    font-family: poppins;
    font-size: .75rem;
    outline: none;
}
.card .text p button:hover{
    background: #fff;
    color: #000;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #4270A2;
    height: auto;
    padding-top: 40px;
    width: 100%;
    color: whitesmoke;
    font-family: Poppins;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-direction:  column;
    text-align: center;
}

.footer-content p{
    max-width: 800px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    all: unset;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}


.socials li a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 35px;
}

.footer-menu {
    all: unset;
    margin-bottom: 20px;
}

.footer-menu ul {
    all: unset;
    display: flex;
}

.footer-menu ul li{
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a{
    color: #cfd2d6;
    border: 1.3px solid white;
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: black;
}


.footer-bottom {
    background: #29486a;
    padding: 5px;
    text-align: center;
}
.footer-bottom p{
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a{
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}